.educationContainer {
    height: 100vh;
    background-color: #f5f5f5;
    padding: 30px 0 0 2rem;
    

    .eduHeader {
        font-size: 52px;
        font-weight: 700;
        color: #2d393d;
        margin-top: 4rem;
    }

    .eduWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .eduLeft {
            width: 30%;

            .eduItem {
                padding: 30px;
                font-size: 18px;
                color: #2d393d;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }

            .activeEdu {
                color: #FE5710;
                text-decoration: underline;
                font-weight: bold;
            }

        }

        .eduCenter {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40%;
        }

        .eduRight {
            text-align: right;
            width: 30%;

            .eduInst,
            .eduDegree,
            .eduLevel {
                padding: 30px;
                font-size: 18px;
                color: #2d393d;
            }
        }
    }
}