.bannerContainer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    @media (min-width: 675px) and (max-width: 900px) {
        //TAB
        display: none;
    }

    @media (max-width: 675px) {

        display: none;
    }

    .linkContainer {
        display: flex;
        gap: 20px;
        color: #ffffff;

        .bannerLink {
            font-size: 14px;
            text-decoration: none;
            color: #ffffff;

            &:hover {
                color: #2d393d;
            }
        }
    }

    .menuContainer {
        display: flex;
        gap: 20px;
        color: #ffffff;

        .menuItem {
            cursor: pointer;
            font-size: 14px;

            &:hover {
                color: #2d393d;
            }
        }
    }

    .talk {
        text-decoration: underline;
        color: #ffffff;
        font-size: 15px;
        cursor: pointer;
        font-weight: bold;
    }
}