.expContainer {
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;

    .expLabel {
        margin-top: 5rem;
        font-size: 2rem;
        font-weight: 700;
        color: #2d393d;
        // left: 200px;
        // top: 100px;

        @media (max-width: 700px) {
            margin-top: 20px;
            margin-right: 30px;
            text-align: right;
        }

    }

    .expWrapper {
        height: 100%;
        display: flex;

        .expLeft {
            padding-top: 150PX;
            background-color: #2d393d;
            border-right: 25px solid #FE5710;

            @media (max-width: 750px) {
                border-width: 15px;
            }



            .companyList {

                .company {
                    margin-top: 1.5rem;
                    width: 6rem;
                    height: 100%;

                    @media (max-width: 750px) {
                        width: 5rem;
                    }

                    img {
                        width: 5rem;
                        height: 5rem;

                        @media (max-width: 750px) {
                            width: 4rem;
                            height: 4rem;
                        }
                    }

                    &:hover {
                        img {
                            width: 4.5rem;
                            height: 4.5rem;
                        }
                    }
                }


            }
        }

        .expRight {
            width: 75%;
            height: 100%;
            padding-left: 5rem;
            position: relative;

            @media (max-width: 750px) {
                padding-left: 2rem;
            }

            .expNameContainer {
                position: relative;
                margin-top: 2rem;
                font-weight: 600;

            }

            .companyDetailsContainer {}
overflow: hidden;
            .companyName {
                top: 30px;
                height: 100px;
                margin-right: 20px;

                position: absolute;
                opacity: 0;
                transform: translateX(50px);
                /* start slightly to the right */
                transition:
                    opacity 0.5s ease,
                    transform 0.5s ease;

                color: #FE5710;
            }

            .shortName {
                font-size: 5rem;
                line-height: 3.9rem;
                word-spacing: 20px;
                font-weight: 600;
                color: #2d393d;
                margin-bottom: 25px;

                @media (max-width: 750px) {
                    font-size: 4.5rem;
                    line-height: 2.8rem;
                }

            }

            .companyName.show {
                opacity: 1;
                transform: translateX(0);
                // border-bottom: 1px solid #FE5710;
                /* slide into place */
            }

            .companyFullName,
            .companyLoc,
            .fromTo {
                font-size: 1rem;
                margin-top: 30px;
                color: #2d393d;
            }

            .companyDesc {
                transition:
                    opacity 0.5s ease,
                    transform 0.5s ease;
            }

            .descWrapper {
                position: absolute;
                z-index: 1;
                top: 12rem;
                left: 5rem;

                @media (max-width: 750px) {
                    left: 0;
                    top: 12rem;
                }
            }

            .bullet {
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 15px; // same as your previous margin-right
                align-items: start; // ensures arrow stays at the top
                /* other styles */
                margin-top: 20px;
                color: #ffffff;
                font-size: 35px;

                @media (max-width: 750px) {
                    gap: 5px;
                }
            }

            .bulletPoints img {
                width: 100%;
                height: auto;
                object-fit: contain;
                display: block;
                margin-top: 15px; 
                @media (max-width: 750px) {
                margin-top: 5px; 
                }
            }

            .bulletPoints {
                width: 15px;
                height: 15px;
                margin-right: 15px;

                @media (max-width: 750px) {
                    width: 10px;
                    height: 10px;
                }
            }

            .descText {
                font-size: 1.5rem;
                font-weight: 100;
                color: #2d393d;
                max-width: 95%;

                @media (max-width: 750px) {
                    font-weight: 400;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .companyContainer {
        width: 100%;
        height: 7rem;
        transition: width 0.3s ease, height 0.3s ease;

        img {
            margin-left: 1rem;
            transition: width 0.3s ease, height 0.3s ease;
        }

    }

    .companyContainer.underLine {
        border-right: 25px solid #2d393d;

        img {
            margin-top: 10px;
            height: 4rem;
        }


        @media (max-width: 750px) {
            border-width: 15px;
        }


    }

    .companyWrapper {
        display: flex;
        width: 100%;
        align-items: center;
    }
}


.endSection {
    width: 35%;
    height: 100vh;
    background-color: #2d393d;
}

.bgWrapper {
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
}