.connectContainer {
    height: 100vh;
    padding: 2rem 0 0 2rem;
    background-color: #2d393d;
    position: relative;

    .connectHeader {
        font-size: 52px;
        font-weight: 700;
        color: #fff;
        margin-top: 4rem;
    }

    .contactSection {
        width: 100%;
        padding: 4rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 80px;
        position: relative;
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: 6px;

        h4 {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
        }

        a {
            font-size: 16px;
            text-decoration: none;
            color: #FE5710;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .dot {
        width: 14px;
        height: 14px;
        background: #FE5710;
        border-radius: 50%;
    }

    .projectNote {
        margin-top: 40px;

        p {
            font-size: 15px;

            color: #fff;
            margin: 0 0 8px;
        }

        h2 {
            margin: 0;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.15;
            
        color: #fff;
        }
    }

    .right {
        width: 42%;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .bigText {
        font-size: 28px;
        line-height: 1.4;
        font-style: italic;
        color: #fff;
        max-width: 550px;
    }

}