.connectContainer {
    height: 100vh;
    background-color: #2d393d;
    padding: 30px 0 0 2rem;

    .connectHeader {
        margin-top: 5rem;
        font-size: 2rem;
        font-weight: 700;
        color: #fff;

        @media (max-width: 700px) {
            margin-top: -5px;
            margin-right: 30px;
            text-align: right;
        }
    }

    .contactSection {
        padding: 4rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        @media (max-width: 700px) {
            display: block;
        padding: 1rem;
        }

    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 80px;
        position: relative;

        @media (max-width: 700px) {
            gap: 20px;
        }
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: 6px;


        h4 {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
        }

        a {
            font-size: 16px;
            text-decoration: none;
            color: #FE5710;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .dot {
        width: 14px;
        height: 14px;
        background: #FE5710;
        border-radius: 50%;
    }

    .projectNote {
        margin-top: 40px;

        @media (max-width: 700px) {
            margin-top: 20px;
        }


        p {
            font-size: 15px;

            color: #fff;
            margin: 0 0 8px;
        }

        h2 {
            margin: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.15;

            color: #fff;
        }
    }

    .right {
        width: 42%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 700px) {
            width: 100%;
        gap: 0;
        }
    }

    .bigText {
        font-size: 1.5rem;
        line-height: 1.4;
        font-style: italic;
        color: #fff;
        max-width: 550px;

        @media (max-width: 700px) {
            max-width: 100%;
        }
    }

}