.newsTicker {
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #FE5710;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tickerTrack {
    display: flex;
    animation: scroll linear infinite;
}

.tickerGroup {
    display: flex;
}

.tickerItem {
    white-space: nowrap;
    padding-right: 50px;
    color: #fff;
}

/* seamless loop */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
