.skillContainer {
    height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
    padding: 32px 0 0 2rem;

    .skillsHeader {
        font-size: 52px;
        font-weight: 700;
        color: #2d393d;
        margin-top: 6rem;
    }

    .skillWrapper {
        display: flex;
        gap: 30px;
        margin-top: 3rem;


        .skillLeft {
            font-size: 40px;
            padding-right: 2rem;
            font-weight: 600;
            line-height: 45px;
            color: #2d393d;
            border-right: 1px solid #2d393d;

            .skillsGrid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, auto);
                /* 4 rows */
                gap: 24px;
                /* spacing */
                justify-items: center;
                /* center items */
            }
        }

        .skillRight {

            padding-left: 12rem;
            padding-right: 10rem;
            color: #2d393d;
        }
    }
}


.skillHeaderWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.skillHeader {
    position: relative;
}

.skillText {
    font-size: 40px;
    display: inline-block;
    animation: slideIn 0.35s ease-out forwards;
}

.skillDescExp {
    font-size: 25px;
    margin-top: 15px;
    display: inline-block;
    animation: slideIn 0.35s ease-out forwards;
}

.skillLogo,
.skillUseWrapper,
.skillExpWrapper {
    position: relative;
    margin-left: 15px;
}

.skillLogoImg,
.skillDescUse {
    font-size: 25px;
    display: inline-block;
    animation: slideInLeft 0.35s ease-out forwards;
}

/* ENTER ANIMATION */
@keyframes slideIn {
    from {
        transform: translateX(40px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* EXIT ANIMATION */
.skillTextExit {
    animation: slideOut 0.25s ease-in forwards;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-40px);
        opacity: 0;
    }
}



@keyframes slideInLeft {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-40px);
        opacity: 0;
    }
}