.skillContainer {
    height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
    padding: 30px 0 0 2rem;

    .skillsHeader {
        font-size: 2rem;
        font-weight: 700;
        color: #2d393d;
        margin-top: 3rem;
        margin-right: 30px;

        @media (max-width: 700px) {
            width: 92%;
            margin-top: -5px;
            text-align: right;
        }


    }

    .skillWrapper {


        .skillLeft {
            font-size: 40px;
            padding: 2rem 2rem 2rem 0;
            font-weight: 600;
            max-height: 45vh;
            overflow-y: auto;
            line-height: 45px;
            color: #2d393d;

            .skillsGrid {
                justify-items: center;
                width: 100%;
                display: grid;
                gap: 1rem;

                /* Adjust tile width here */
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                @media  (max-width: 900px) {

                    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                }

                .skillName {}
            }
        }

        .skillRight {
            padding: 4rem 20px 0 20px;
            color: #2d393d;
        }
    }
}


.skillHeaderWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.skillHeader {
    position: relative;
}

.skillText {
    font-size: 2rem;
    display: inline-block;
    animation: slideIn 0.35s ease-out forwards;
}

.skillDescExp {
    font-size: 1.25rem;
    margin-top: 15px;
    display: inline-block;
    animation: slideIn 0.35s ease-out forwards;
}

.skillLogo {
    margin-left: 15px;
}

.skillUseWrapper,
.skillExpWrapper {
    position: relative;
}

.skillLogoImg,
.skillDescUse {
    font-size: 1.25rem;
    display: inline-block;
    animation: slideInLeft 0.35s ease-out forwards;
}

/* ENTER ANIMATION */
@keyframes slideIn {
    from {
        transform: translateX(40px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* EXIT ANIMATION */
.skillTextExit {
    animation: slideOut 0.25s ease-in forwards;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-40px);
        opacity: 0;
    }
}



@keyframes slideInLeft {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-40px);
        opacity: 0;
    }
}