.toolsContainer {
    height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    padding: 30px 0 0 2rem;


    .toolsHeader {
        font-size: 2rem;
        font-weight: 700;
        color: #2d393d;
        margin-top: 3rem;
        margin-right: 30px;

        @media (max-width: 700px) {
            width: 92%;
            margin-top: -5px;
            text-align: right;
        }
    }

    .toolsWraper {
        width: 100%;
        height: 95vh;
        position: relative;
    }

    .toolsLeft {
        width: 100%;
        position: absolute;
        bottom: 100px;

    }

    .toolsRight {
        float: right;
        width: 80%;
        text-align: right;
        padding-right: 2rem;

        @media (max-width: 600px) {
            padding-right: 0px;
            text-align: left;
            width: 95%;
        }

        // background-color: #399dbe;
    }

    .toolsGrid {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(5, 15vh);
        grid-auto-rows: 15vh;
        position: relative;

        @media (max-width: 790px) {

            grid-template-columns: repeat(5, 18vw);
            grid-auto-rows: 18vw;
        }
    }

    .tile {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 600;
        border-radius: 4px;
        transition: transform 0.3s ease, filter 0.3s ease;
        background-color: #d9d9d9;

        // filter: brightness(0.75);
        .toolsIcon {
            display: block;
            width: 2rem;
        }

        .toolsText {
            display: none;
        font-size: .8rem;
        }
    }


    .tile:hover {
        filter: brightness(1);
        transform: translateY(-6px) scale(1.03);
        color: #fff;
        background: linear-gradient(145deg, #FE5710, #FE5710);

        .toolsIcon {
            display: none;
        }

        .toolsText {
            display: block;
        }

    }

    /* Diagonal positioning */
    .tile:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .tile:nth-child(2) {
        grid-column: 2;
        grid-row: 2;
    }

    .tile:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    .tile:nth-child(4) {
        grid-column: 3;
        grid-row: 3;
    }

    .tile:nth-child(5) {
        grid-column: 2;
        grid-row: 4;
    }

    .tile:nth-child(6) {
        grid-column: 4;
        grid-row: 4;
    }

    .tile:nth-child(7) {
        grid-column: 1;
        grid-row: 5;
    }

    .tile:nth-child(8) {
        grid-column: 3;
        grid-row: 5;
    }

    .tile:nth-child(9) {
        grid-column: 5;
        grid-row: 5;
    }

}

.mainToolWrapper {
    width: 100%;


    .selectedToolDescWrapper {
        margin-top: 1vh;
        padding-right: 2rem;
    }

    .selectedIcon {
        width: 30vh;
        transform-origin: center;
        transform: scaleX(0);
        opacity: 0;
        margin-top: 4vh;
        padding-right: 8rem;
        float: right;

        @media (max-width: 800px) {
            width: 150px;
            height: 140px;
            margin-top: 4vh;
            padding-right: 5rem;

        }

        img {
            width: 40vh !important;

            @media (max-width: 900px) {

                width: 100% !important;
            }
        }
    }

    .selectedIcon.show {
        animation: popIn 0.6s cubic-bezier(.34, 1.56, .64, 1) forwards;
        opacity: 1;
    }


    .selectedIcon img {
        width: 10rem;
        margin-left: -10px;
        opacity: 0;
        animation: fadeIn 0.2s ease forwards;
        animation-delay: 0.15s;
    }
}

.selectedToolName {

    font-size: 2rem;
    color: #2d393d;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-20px);

    @media (max-width: 900px) {
        margin-top: 4vh;
        padding-right: 5rem;
    }
}

.toolUse {
    font-size: 1.2rem;
    color: #2d393d;
    opacity: 0;
    transform: translateX(20px);
}

.toolExp {
    font-size: 1.2rem;
    color: #2d393d;
    opacity: 0;
    transform: translateX(-20px);
}

.nameSlide {
    animation: slideInName 0.35s ease-out forwards;
}

.expSlide {
    animation: slideInName 0.35s ease-out forwards;
}

.useSlideIn {
    animation: slideInUse 0.35s ease-out forwards;
}

@keyframes slideInName {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInUse {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}





@keyframes popIn {
    0% {
        transform: scaleX(0) scaleY(0);
    }

    75% {
        transform: scaleX(1.05) scaleY(1.05);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}



@keyframes slideInName {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}