.toolsContainer {
    height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    padding: 2rem 0 0 2rem;

    .toolsHeader {
        font-size: 52px;
        font-weight: 700;
        color: #2d393d;
        margin-top: 4rem;
    }

    .toolsWraper {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .toolsLeft {
        width: 50%;
    }

    .toolsRight {
        width: 40%;
    }

    .toolsGrid {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(5, 140px);
        grid-auto-rows: 140px;
        position: relative;
    }

    .tile {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 600;
        border-radius: 4px;
        transition: transform 0.3s ease, filter 0.3s ease;
        background-color: #d9d9d9;

        // filter: brightness(0.75);
        .toolsIcon {
            display: block;
            width: 50px;
        }

        .toolsText {
            display: none;
        }
    }


    .tile:hover {
        filter: brightness(1);
        transform: translateY(-6px) scale(1.03);
        color: #fff;
        background: linear-gradient(145deg, #FE5710, #FE5710);

        .toolsIcon {
            display: none;
        }

        .toolsText {
            display: block;
        }

    }

    /* Diagonal positioning */
    .tile:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .tile:nth-child(2) {
        grid-column: 2;
        grid-row: 2;
    }

    .tile:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    .tile:nth-child(4) {
        grid-column: 3;
        grid-row: 3;
    }

    .tile:nth-child(5) {
        grid-column: 2;
        grid-row: 4;
    }

    .tile:nth-child(6) {
        grid-column: 4;
        grid-row: 4;
    }

    .tile:nth-child(7) {
        grid-column: 1;
        grid-row: 5;
    }

    .tile:nth-child(8) {
        grid-column: 3;
        grid-row: 5;
    }

    .tile:nth-child(9) {
        grid-column: 5;
        grid-row: 5;
    }

}

.mainToolWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: -200px;

    .selectedIcon {
        width: 100px;
        transform-origin: center;
        transform: scaleX(0);
        opacity: 0;
    }

    .selectedIcon.show {
        animation: popIn 0.6s cubic-bezier(.34, 1.56, .64, 1) forwards;
        opacity: 1;
    }


    .selectedIcon img {
        width: 300px;
        margin-left: -10px;
        opacity: 0;
        animation: fadeIn 0.2s ease forwards;
        animation-delay: 0.15s;
    }
}

.selectedToolName {
    font-size: 40px;
    color: #2d393d;
    margin-left: 275px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-20px);
}
.toolUse {
    font-size: 30px;
    color: #2d393d;
    margin-left: 175px;
    opacity: 0;
    transform: translateX(20px);
}

.toolExp {
    font-size: 30px;
    color: #2d393d;
    margin-left: 175px;
    opacity: 0;
    transform: translateX(-20px);
}

.nameSlide {
    animation: slideInName 0.35s ease-out forwards;
}

.expSlide {
    animation: slideInName 0.35s ease-out forwards;
}

.useSlideIn {
    animation: slideInUse 0.35s ease-out forwards;
}

@keyframes slideInName {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInUse {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}





@keyframes popIn {
    0% {
        transform: scaleX(0) scaleY(0);
    }

    75% {
        transform: scaleX(1.05) scaleY(1.05);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}



@keyframes slideInName {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}