.App {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

}

.stickey-header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.scroll-section {
  height: 100vh;
  scroll-snap-align: start;
}




/* Ensure content is above the background image */