.App {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;


}

.stickey-header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.scroll-section {
  height: 100vh;
  scroll-snap-align: start;
}

html {
  font-size: clamp(12px, 1.5vw, 18px);
}

html,
body {}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE/old Edge */
* {
  -ms-overflow-style: none;
}



@media (max-width: 675px) {
  .scroll-section {
    padding-top: env(safe-area-inset-top);
  }

}



/* Ensure content is above the background image */