.referenceContainer {
    height: 100vh;
    padding: 2rem 0 0 2rem;
    background-color: #fff;
    position: relative;

    .refHeader {
        font-size: 52px;
        font-weight: 700;
        color: #2d393d;
        margin-top: 4rem;
    }

    .rotaryWrapper {
        position: absolute;
        right: 80px;
        bottom: 200px;
    }


}

.refImageWrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 80px;
    top: 230px;
    border-style: solid;
    border-width: 160px;
    border-color: #efe9da;
    display: flex;
    align-items: center;
    justify-content: center;

}

.preview {
    width: 80%;
    height: 80%;
    object-fit: cover;
    transform: rotate(0deg);
    animation: settle 420ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
    will-change: transform;
    border-radius: 50%;
    border: 30px solid #2d393d;
}



.preview {
    transform: rotate(0deg);
}

.animate {
    animation: settle 420ms cubic-bezier(0.22, 1, 0.36, 1);
}



@keyframes settle {
    0% {
        transform: rotate(45deg) scale(0.96);
    }

    60% {
        transform: rotate(-2deg) scale(1.01);
    }

    100% {
        transform: rotate(0) scale(1);
    }
}

.refWrapper {

    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .refUserItem {
        width: 30%;
        margin-left: -100px;
        margin-top: 150px;

        .refUserName {
            font-size: 35px;
            color: #2d393d;
        }

        .detailsWrapper {
            display: flex;
            font-size: 20px;

            .designation {
                margin-right: 10px;
                color: #FE5710;
            }

            .companyName {
                margin-left: 10px;
                color: #2d393d;
                font-weight: bold;
            }
        }



        .comment {
            font-size: 20px;
            height: 170px;
            display: flex;
            align-items: center;
            position: relative;
            padding: 32px 40px;
            font-style: italic;
        }

        .comment::before {
            content: "“";
            position: absolute;
            color: #FE5710;
            top: 10px;
            left: 10px;
            font-size: 40px;
        }

        .comment::after {
            content: "”";
            color: #FE5710;
            position: absolute;
            bottom: 10px;
            right: 30px;
            font-size: 40px;
        }


        .openQuote,
        .closeQuote {
            font-size: 32px;
            color: #FE5710;
            margin-right: 10px;
            margin-top: 10px;
        }

    }

    .contactRef {
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    .linkedinBtn {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        margin-top: 12px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: #0a66c2;
        cursor: pointer;
    }

    .icon {
        width: 21px;
        height: 21px;
        border-radius: 4px;
        background: #0a66c2;
        color: white;
        font-weight: bold;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        line-height: 1;
    }

    .mailBtn {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        margin-top: 12px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: #555;
        cursor: pointer;
    }

    .mailIcon {
        font-size: 16px;
        line-height: 1;
    }

    .mailBtn:hover {
        color: #FE5710;
    }


}